@import url('https://fonts.googleapis.com/css?family=Numans');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif');

html,body{
    background-color: #E1E8EE;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

}

h1 {
    color: rgba(85, 153, 194, 1);
    font-size: 70px;
    font-family: 'Noto Serif', serif;
    font-family: 'Kaushan Script', cursive;

}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 350px;
    margin-top: 0;
    margin-bottom: auto;
    border-radius: 8px;
    width: 330px;
    background-color: white;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px
}



.card-header h3{
    color: #767676;
}


input:focus{
    outline: 0 0 0 0 ;
    box-shadow: 0 0 0 0 ;

}


.login_boton{
    color: #E1E8EE;
    background-color: rgba(86, 153, 195, 0.79);
    width: 100px;
}

.login_boton:hover{
    color: #ffffff;
    background-color: #0074ff;
}
