<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <!--Favicon-->
        <link rel="icon" th:href="@{/iconos/favicon.png}" type="image/png" sizes="32x32">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Formulario Usuario</title>
        <!--CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!--CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilos_administrador.css}"  />
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilos_barra_lateral.css}"  />

    </head>
    <body>
        <!--Menú-->
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="nav-brand logo" href="/DiscoverMe/administrador/">DiscoverMe</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbar-1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbar-1">
                <ul class="navbar-nav p-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Crear</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/DiscoverMe/administrador/formularioExperiencia">Experiencia</a>
                            <a class="dropdown-item" href="/DiscoverMe/administrador/formularioUsuario">Usuario</a>
                            <a class="dropdown-item" href="/DiscoverMe/administrador/formularioServicioHotel">Servicio</a>
                            <a class="dropdown-item" href="/DiscoverMe/administrador/formularioOferta">Oferta</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">${usuario.nombre}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/editar">Editar</a>
                            <a class="dropdown-item" href="/logout">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Menu lateral-->
        <nav class="main-menu">
            <ul class="menu-lateral">
                <li>
                    <a href="/administrador/listadoHuespedes">
                        <i class="fa fa-cloud" aria-hidden="true"></i>
                        <span class="nav-text">
                            Apps Activas
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/administrador/listadoComentarios">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <span class="nav-text">
                            Comentarios
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/administrador/listadoExperiencia">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="nav-text">
                            Experiencias
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/administrador/listadoColaboradores">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="nav-text">
                            Colaboradores
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/administrador/listadoServicio">
                        <i class="fa fa-h-square" aria-hidden="true"></i>
                        <span class="nav-text">
                            Servicios del Hotel
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/administrador/listadoOfertas">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                        <span class="nav-text">
                            Ofertas
                        </span>
                    </a>
                </li>
            </ul>   
            <ul class="logout">
                <li>
                    <a href="/DiscoverMe/logout/">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Cerrar sesión
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
        <!--vista inicial del servicio hotel-->
        <div class="container area">
            <div class="col-md-12">
                <!--Titulo-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h2>Crear usuario</h2>

                                <hr>
                                <br>
                            </div>
                        </div>  
                    </div>
                </div>
                <!--Formulario añadir usuario-->
                <div class="container">
                    <form action="agregarUsuario/" method="POST" id="agregarUsuario">
                        <div class="form-group row">
                            <label for="rol" class="col-sm-2 col-form-label">Rol:</label>
                            <div class="col-sm-10">
                                <select name ="rol" form="agregarUsuario" class="form-control">
                                    <c:forEach items="${roles}" var="rol">
                                        <c:choose>
                                            <c:when test="${rol.nombre=='Huesped'}">
                                            </c:when>
                                            <c:otherwise>
                                                <option value="${rol.id}">${rol.nombre}</option>
                                            </c:otherwise>
                                        </c:choose>
                                    </c:forEach>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="nombre" class="col-sm-2 col-form-label">Nombre usuario:</label>
                            <div class="col-sm-10">
                                <input maxlength="100" type="text" class="form-control" placeholder="nombre" name="nombre" required>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="foto_id" class="col-sm-2 col-form-label">Avatar:</label>
                            <div class="col-sm-10">   
                                <div class="form-check text-center d-flex flex-wrap" required>
                                    <c:forEach items="${avatares}" var="avatar">
                                        <div class="centrar">
                                            <label class="form-check-label" for="inlineRadio3"><img src="<spring:url value="/resources/img/${avatar.foto}"/>" alt="${avatar.foto}" class="rounded-circle img-avatar"></label>
                                            <input class="form-check-input" type="radio" name="avatar" value="${avatar.id}">
                                        </div>
                                    </c:forEach>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <br>
                                <button  type="submit" class="btn btn-primary">Crear usuario</button>
                                <button  type="reset" class="btn btn-primary">Reiniciar formulario</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>   
        </div>   
        <!--scripts-->                            
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/DiscoverMe/resources/js/validar_avatar.js"></script>

    </body>
</html>


