<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <!--Favicon-->
	<link rel="icon" th:href="@{/iconos/favicon.png}" type="image/png" sizes="32x32">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Preferencias</title>
        <!--CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/bootstrap-extend/880420ae663f7c539971ded33411cdecffcc2134/css/bootstrap-extend.min.css"/>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilos_preferencias.css}"  />
    </head>
    <body>
        <!--Menú-->
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="nav-brand logo" href="/DiscoverMe/huesped/listadoExperiencia/">DiscoverMe</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbar-1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbar-1">
                <ul class="navbar-nav p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/huesped/listadoServicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/huesped/listadoOfertas">Ofertas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">${usuario.nombre}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/editar">Editar</a>
                            <a class="dropdown-item" href="/logout">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>   
        <!--Titulo-->                  
        <div class="container"><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Preferencias</h1>
                    </div>
                    <hr/>
                </div>  
            </div>
        </div>
        
        <!--Encuesta -->
        <div class="container"><br>
            <form action="/huesped/listadoExperiencia" method="POST">
                <c:forEach items="${preferencias}" var="preferencia">
                    <div class="row">
                        <div class="col-md-1 ">
                            <input id="${preferencia.id}" class="switch switch-rect-success" type="checkbox" name="preferencias" value="${preferencia.id}">
                            <label for="${preferencia.id}" class=""></label>
                        </div>
                        <div class="col-md-11">
                            <h4>
                                <small class="espacio">${preferencia.nombre}</small>
                            </h4>
                        </div>
                    </div>
                    <br>
                </c:forEach>
                <p>
                    <input type="submit" value="Aceptar" class="btn btn-primary btn-lg">
                </p>
            </form>
        </div>

        <!--scripts-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>       
        <script type="text/javascript" src="/DiscoverMe/resources/js/seleccion.js"></script>
    </body>
</html>